<div class="about__wrap">
    <div class="about">
        <h2>Par mums īsumā</h2>
        <p>
            Mēs, „MDesign” komanda, izmantojot oriģinālu pieeju un  rūpīgu roku darbu, īpaši piedomājam, lai katra izgatavotā dāvana būtu personīga un neatkārtojama, turklāt mēs ne tikai izveidojam īpašu dāvanas dizainu, bet varam arī ieteikt oriģinālu pasniegšanas risinājumu, lai dāvanas saņēmējs būtu sajūsmā ne tikai par pašu dāvanu, bet arī par to, kā to saņēma.
        </p>
        <p>
            Dāvanas, dāvanu kartes, ekskluzīvi darinājumi, izklaides, atrakcijas, aktīvās atpūtas iespējas, rotaslietas, dizaina elementi - mūsdienās ir miljoniem iespēju, kā var iepriecināt mīļoto!
            Turklāt, mēs pastāvīgi paplašinām savu dāvanu klāstu, lai Jums ar vien būtu iespēja atrast kādu noderīgu, neredzētu un interesantu dāvanu vai pakalpojumu sev vai savai mīļotajai personai.
        </p>
    </div>
</div>

<div class="partners">
    <a href="http://www.android.lv/lv/" target="_blank"><img src="/img/partneri/android.jpg" alt="android"/></a>
    <a href="http://avector.lv/" target="_blank"><img src="/img/partneri/avector.jpg" alt="avector"/></a>
    <a href="#" target="_blank"><img src="/img/partneri/andy_bassland.jpg" alt="andy_bassland"/></a>
    <a href="http://chill-mill.com/post/list/hall_of_fame" target="_blank"><img src="/img/partneri/chillmill.jpg" alt="chillmill"/></a>
    <a href="http://www.krio.lv/" target="_blank"><img src="/img/partneri/krio_beauty.jpg" alt="krio_beauty"/></a>
    <a href="http://mdesign.lv/lv/jaunumi/" target="_blank"><img src="/img/partneri/mdesign.jpg" alt="mdesign"/></a>
    <a href="#" target="_blank"><img src="/img/partneri/shark.jpg" alt="shark"/></a>
</div>