<div class="contact__wrap">
    <div class="contact">
        <h2>pasūti dāvanu vai tāpat vien sazinies ar mums</h2>
        <p>
            Šobrīd visas dāvanas Rīgas robežās tiek piegādātas ar kurjeru jau izgatavošanas dienā (piegādes maksa 5,50 EUR) un uz Latvijas lielajākajām pilsētām 3 dienu laikā (piegādes maksa atkarīga no pasta izdevumiem), taču drīzumā mēs plānojam atvērt savu ofisu, kur varēsiet saņemt dāvanas uz vietas un aplūkot citus paraugus.
            Ir iespēja arī dāvanas saņemt bez piegādes maksas Vecmīlgrāvī, bet tad iepriekš jāvienojas.
        </p>

        <form id="contactform" method="POST">
            <input type="email" name="_replyto" placeholder="* E-pasts" data-mail="input" novalidate="novalidate">
            <input type="hidden" name="_next" value="{{ page.url | prepend: site.baseurl }}" />
            <input type="hidden" name="_subject" value="" data-mail="caption" />
            <textarea name="message" placeholder="* Ziņojums" data-text="area"></textarea>
            <input type="text" name="_gotcha" style="display:none" />

            <select data-select="select">
                <option value="">Izvēlēties kategoriju</option>
                {% for post in site.posts %}
                <option value="{{ post.title }}">{{ post.title }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="picture" role="uploadcare-uploader" data-tabs="file" data-multiple="true" data-multiple-max="20" data-images-only="false" data-image-shrink="1024x1024" data-clearable="true" data-system-dialog="true"/>

            <input type="submit" value="Sūtīt" data-submit="submit">
        </form>
    </div>

    <div class="overlay">
        <a href="#google_map">
            <h3>Nāc ciemos</h3>
            <img src="/img/down.svg" alt="down"/>
        </a>
    </div>
    <video loop autoplay>
        <source src="/img/contactsv.mp4" type="video/mp4">
    </video>
</div>