<footer class="site-footer">

  <div class="footer--wrapper">

    <!--Twitter-->
    <span>
      <a href="https://twitter.com/OriginalaDavana" class="twitter-follow-button" data-show-count="false">Follow @OriginalaDavana</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </span>

    <!--Facebook-->
    <span>
      <div class="fb-like" data-href="https://www.facebook.com/OriginalasDavanas" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </span>

    <span><p>© {{ site.title }} | 2015</p></span>

  </div>

</footer>
