.about__wrap {
  background: url("../img/aboutbg.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: relative;

  .about {
    background: rgba(white, .9);
    padding: 25px;
    position: absolute;
    z-index: 150;
    bottom: 50px;
    left: 50px;
    width: 40%;
    height: auto;

    h2 {
      color: $brand-color;
      font-style: italic;
      text-transform: uppercase;
    }

    p {
      color: $brand-color--2;
    }
  }
}

.partners {
  background: white;
  width: 90%;
  margin: 0 auto;
  padding: 90px 0;
  height: auto;
  //min-height: 100vh;
  position: relative;
  @extend %clearfix;

  a {
    width: auto;
    max-width: 300px;
    height: auto;
    display: block;
    float: left;
    margin: 10px;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .about__wrap {
    background: $grey-color--brand;
    width: 100%;
    height: auto;
    min-height: 0;
    position: static;

    .about {
      padding: 70px 30px 30px;
      margin: auto;
      position: static;
      width: auto;
      height: auto;
      background: none;

      h2 {
        color: $brand-color;
        font-style: italic;
        text-transform: uppercase;
      }

      p {
        color: $brand-color--2;
        font-size: .9em;
      }
    }
  }

  .partners {
    //background: green;
    width: auto;
    margin: 0 auto;
    padding: 90px 0;
    height: auto;
    //min-height: 100vh;
    position: relative;

    a {
      width: auto;
      max-width: 300px;
      height: auto;
      display: block;
      float: none;
      margin: 10px auto;

      img {
        width: 100%;
      }
    }
  }
}
