/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  background: $grey-color--brand;
  height: auto;
  padding: 40px 0 30px;

  .footer--wrapper {
    font-size: 15px;
    color: $grey-color;
    //background: lightcoral;
    width: 90%;
    margin: 0 auto;

    span {
      display: block;
      margin-bottom: 10px;

      &:last-of-type {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
  }
}



