/**
 * Site header
 */

.site-header {
  height: 60px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  //background: rgba(white, .95);
  transition: .4s;
}

.laiksUnTel {
  position: absolute;
  //background: white;
  width: 400px;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  text-align: center;
  padding: 2px 0 0;
  opacity: 0;

  p {
    margin: -3px 0 0;
    font-size: .8em;

    span {
      font-size: inherit;
      color: $brand-color--3;
    }
  }

  span {
    color: $grey-color;
    font-size: 1.5em;

    a {
      color: $brand-color--3;
    }
  }
}

/**
 * Wrapper
 */
.wrapper-header {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
  //background: lightseagreen;
}

.site-title {
  margin-bottom: 0;
  float: left;
  padding: 10px 0;
  opacity: 0;

  &,
  &:visited {
    color: $grey-color-dark;
  }

  img {
    max-height: 40px;
  }
}

.site-nav {
  float: right;
  height: 100%;
  background: rgba(white, .95);
  padding: 0 15px 15px 12px;

  ul {
    margin: 0;
    //background: lightcoral;

    li {
      //background: lightgreen;
      padding: 25px 0 0;
      line-height: 1;
      font-style: italic;

      &:last-of-type {

        a {
          border: none;
        }
      }

      a {
        //background: red;
        padding: 2px 15px;
        width: 100%;
        height: 100%;
        transition: .4s;
        border-right: 1px solid $grey-color--brand;

        &:hover {
          color: $brand-color--3;
        }
      }
    }
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
  }
}


.a--highlight a {
  color: $brand-color;
  font-weight: bold;
}