/**
 * Site header
 */

.site-header {
  height: 60px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  //background: rgba(white, .95);
  transition: .4s;
}

/**
 * Wrapper
 */
.wrapper-header {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.site-title {
  margin-bottom: 0;
  float: left;
  padding: 10px 0;

  &,
  &:visited {
    color: $grey-color-dark;
  }

  img {
    max-height: 40px;
  }
}

.site-nav {
  float: right;
  //background: lightcoral;
  height: auto;

  ul {
    margin: 0;

    li {
      //background: lightgreen;
      padding: 25px 0 0;
      line-height: 1;
      font-style: italic;

      &:nth-of-type(n+2) {
        //margin-left: 20px;
        //background: red;

        a {
          border: none;
          padding: 2px 0 2px 16px;
        }
      }

      a {
        //background: red;
        padding: 2px 20px;
        width: 100%;
        height: 100%;
        transition: .4s;
        border-right: 1px solid $grey-color--brand;

        &:hover {
          color: $brand-color--3;
        }
      }
    }
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
    }

    .page-link {
      display: block;
      padding: 0;
    }
  }
}


.a--highlight a {
  color: $brand-color;
  font-weight: bold;
}